<mat-toolbar color="primary">
    <mat-icon style="margin-right: 1rem;">calendar_month</mat-icon>
    <span>WeekPlanner</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="downloadPDF.emit()" *ngIf="isPreview">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="tooglePreview.emit()" *ngIf="isPreview">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="tooglePreview.emit()" *ngIf="!isPreview">
      <mat-icon>preview</mat-icon>
    </button>
</mat-toolbar>