<mat-card>
    <div class="table-wrapper">
        <div class="example-container" *ngFor="let dayData of weekData">
            <div class="example-header">
                <h2>{{dayData.name}}</h2>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" aria-label="Add {{dayData.id}} event">
                    <button mat-menu-item (click)="openEventFormDialog(dayData.id)">
                        <mat-icon>add</mat-icon>
                        <span>Dodaj wydarzenie</span>
                    </button>
                    <button mat-menu-item (click)="openGoogleCalendarEventFormDialog(dayData.id)">
                        <mat-icon>perm_contact_calendar</mat-icon>
                        <span>Google Calendar</span>
                    </button>
                </mat-menu>
            </div>
            <div
            cdkDropList
            id="{{dayData.id}}"
            [cdkDropListData]="dayData.events"
            [cdkDropListConnectedTo]="connectedTo"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
                <app-event-card class="example-box" *ngFor="let item of dayData.events" cdkDrag [event]=item [day]=dayData.id></app-event-card>
            </div>
        </div>
    </div>
</mat-card>